Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)

fix: delay photo table pagination fetch
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
Due: build

feat: add row activation support to photo table
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
Due: build

fix: align photo table column flex
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
Due: build

fix: wrap photo captions
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
Due: build

feat: include persons in person group dto
  backend/PhotoBank.Services/MappingProfile.cs
  backend/PhotoBank.ViewModel.Dto/PersonGroupDto.cs
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/telegram-bot/src/api/photobank/photoBankApi.schemas.ts
  openapi.yaml
Due: build, publish

adding admin
  backend/PhotoBank.Api/Controllers/Admin/FacesController.cs
  backend/PhotoBank.Api/Controllers/Admin/PersonFacesController.cs
  backend/PhotoBank.Api/Controllers/Admin/PersonGroupsController.cs
  backend/PhotoBank.DependencyInjection/Swagger/StringEnumSchemaFilter.cs
  backend/PhotoBank.Services/Models/IdentityStatusDto.cs
  frontend/packages/frontend/src/shared/ui/alert-dialog.tsx
  frontend/packages/frontend/src/shared/ui/avatar.tsx
  frontend/packages/frontend/src/shared/ui/dropdown-menu.tsx
  frontend/packages/frontend/src/shared/ui/pagination.tsx
Due: build, publish

adding admin
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/components/admin/CreatePersonGroupDialog.tsx
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/frontend/src/components/admin/UsersTable.tsx
  frontend/packages/frontend/src/pages/admin/PersonsPage.tsx
  frontend/packages/frontend/src/pages/admin/UsersPage.tsx
  frontend/packages/frontend/src/shared/ui/sheet.tsx
Due: build

feat: connect persons admin page to api
  frontend/packages/frontend/src/pages/admin/PersonsPage.tsx
Due: build

feat: connect person group management to api
  frontend/packages/frontend/src/components/admin/CreatePersonGroupDialog.tsx
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
  frontend/packages/frontend/src/pages/admin/PersonGroupsPage.tsx
Due: build

feat: connect admin access profiles to api
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
Due: build

feat: wire admin faces page to person face api
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
  frontend/packages/shared/src/api/photobank/index.ts
Due: build

feat: integrate access profile management in user drawer
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
Due: build

feat: expose admin routes in navigation
  frontend/packages/frontend/src/components/NavBar.tsx
  frontend/packages/frontend/src/routes/AppRoutes.tsx
  frontend/packages/frontend/src/shared/config/locales/en.json
  frontend/packages/frontend/src/shared/config/locales/ru.json
Due: build

adding admin
  frontend/packages/frontend/package.json
  frontend/packages/frontend/src/hooks/use-toast.ts
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
  frontend/packages/frontend/src/pages/admin/PersonsPage.tsx
  frontend/packages/frontend/src/shared/ui/sonner.tsx
  frontend/pnpm-lock.yaml
Due: build, publish

adding admin
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
Due: build

fix: centralize admin role options
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
Due: build

fix: adjust sonner exports for verbatim module syntax
  frontend/packages/frontend/src/hooks/use-toast.ts
  frontend/packages/frontend/src/shared/ui/sonner.tsx
Due: build

fix: use identity status enum for face updates
  frontend/packages/frontend/src/pages/detail/PhotoDetailsPage.tsx
Due: build

fix: align toast payload type with sonner
  frontend/packages/frontend/src/hooks/use-toast.ts
Due: build

ci: perform full clone for api pipeline
  .woodpecker/api.yml
Due: none

fix: adjust photo table responsiveness
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
Due: build

feat: add admin dropdown to navbar
  frontend/packages/frontend/src/components/NavBar.tsx
Due: build

fix: add admin navbar translations
  frontend/packages/frontend/src/shared/config/locales/en.json
  frontend/packages/frontend/src/shared/config/locales/ru.json
Due: build

feat: expose user roles in auth profile
  backend/PhotoBank.Api/Controllers/AuthController.cs
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/shared/src/hooks/useIsAdmin.test.ts
  frontend/packages/shared/src/hooks/useIsAdmin.ts
  frontend/packages/telegram-bot/src/api/photobank/photoBankApi.schemas.ts
  openapi.yaml
Due: build, publish

test: add NavBar admin dropdown coverage
  frontend/packages/frontend/src/components/NavBar.test.tsx
Due: build

fix: handle missing user identifier claim
  backend/PhotoBank.Services/AccessControl/CurrentUser.cs
  backend/PhotoBank.UnitTests/CurrentUserTests.cs
Due: build, publish

adding admin
  backend/PhotoBank.Api/Program.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankApiExtensions.cs
  backend/PhotoBank.DependencyInjection/Swagger/ServersDocumentFilter.cs
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/frontend/src/components/admin/UsersTable.tsx
  frontend/packages/frontend/src/pages/admin/UsersPage.tsx
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/shared/src/hooks/useIsAdmin.test.ts
  frontend/packages/shared/src/hooks/useIsAdmin.ts
  frontend/packages/shared/tsconfig.tsbuildinfo
  frontend/packages/telegram-bot/src/api/photobank/photoBankApi.schemas.ts
  openapi.yaml
Due: build, publish

fix: map person groups without empty array projection
  backend/PhotoBank.Services/Api/PhotoService.cs
  backend/PhotoBank.Services/MappingProfile.cs
Due: build, publish

feat: relax create profile requirements
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
Due: build

feat: add access profile dto mapping and controller updates
  backend/PhotoBank.Api/Controllers/Admin/AdminAccessProfilesController.cs
  backend/PhotoBank.Services/MappingProfile.cs
  backend/PhotoBank.ViewModel.Dto/AccessProfileDateRangeAllowDto.cs
  backend/PhotoBank.ViewModel.Dto/AccessProfileDto.cs
  backend/PhotoBank.ViewModel.Dto/AccessProfilePersonGroupAllowDto.cs
  backend/PhotoBank.ViewModel.Dto/AccessProfileStorageAllowDto.cs
Due: build, publish

adding admin
  frontend/packages/shared/src/api/photobank/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/telegram-bot/src/api/photobank/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/telegram-bot/src/api/photobank/photoBankApi.schemas.ts
  openapi.yaml
Due: build

refactor: use access profile dto types in admin ui
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
Due: build

adding admin
  backend/PhotoBank.Api/Controllers/Admin/UsersController.cs
Due: build, publish

refactor: share access profile form schema
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/accessProfileFormSchema.ts
Due: build

fix: restore default person group query key
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
Due: build

fix: use query hook key for person group updates
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
Due: build

fix(admin): refresh person groups after membership updates
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
Due: build

fix: sync person group cache updates
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
Due: build

fix: invalidate person group cache on membership change
  backend/PhotoBank.Services/Api/PhotoService.cs
  backend/PhotoBank.UnitTests/PersonGroupServiceTests.cs
Due: build, publish
