Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

build:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  volumes:
  - /var/lib/woodpecker-cache/nuget:/root/.nuget-store
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API build and test"
  
    cd backend
  
    dotnet restore PhotoBank.Backend.sln
  
  ...

publish:
  image: docker:28.4.0-cli
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  environment:
    DOCKER_USERNAME:
      from_secret: docker_username
    DOCKER_PASSWORD:
      from_secret: docker_password
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API docker build and push"
  
  ...

test: add coverage for enricher dependency resolver
  backend/PhotoBank.UnitTests/Enrichment/EnricherDependencyResolverTests.cs
Due: build, publish

test: add PhotoCreatedHandler coverage
  backend/PhotoBank.UnitTests/Handlers/PhotoCreatedHandlerTests.cs
Due: build, publish

test: add PhotoCreatedFace serialization coverage
  backend/PhotoBank.UnitTests/Events/PhotoCreatedFaceTests.cs
Due: build, publish

test: add DomainException unit tests
  backend/PhotoBank.UnitTests/DomainExceptionTests.cs
Due: build, publish

test: cover face recognition dtos
  backend/PhotoBank.UnitTests/FaceRecognition/FaceRecognitionDtoTests.cs
Due: build, publish

test: add reusable http fixtures for face providers
  backend/PhotoBank.UnitTests/FaceRecognition/AzureFaceProviderTests.cs
  backend/PhotoBank.UnitTests/FaceServiceAwsTests.cs
  backend/PhotoBank.UnitTests/Infrastructure/FaceRecognition/Aws/RekognitionClientMockFactory.cs
  backend/PhotoBank.UnitTests/Infrastructure/FaceRecognition/Aws/RekognitionResponseBuilder.cs
  backend/PhotoBank.UnitTests/Infrastructure/FaceRecognition/AzureFaceClientFactory.cs
  backend/PhotoBank.UnitTests/Infrastructure/Http/HttpMockSequenceHandler.cs
  backend/PhotoBank.UnitTests/Infrastructure/Http/HttpRequestSnapshot.cs
  backend/PhotoBank.UnitTests/Infrastructure/Http/HttpResponseBuilder.cs
  backend/PhotoBank.UnitTests/Infrastructure/Http/QueryStringParser.cs
  backend/PhotoBank.UnitTests/Infrastructure/Logging/TestLogger.cs
Due: build, publish

test: add reusable api web factory for controller tests
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.IntegrationTests/Auth/TelegramSubscriptionsTests.cs
  backend/PhotoBank.IntegrationTests/FacesControllerUploadIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/Infra/ApiWebApplicationFactory.cs
  backend/PhotoBank.IntegrationTests/Infra/TestAuthenticationExtensions.cs
  backend/PhotoBank.IntegrationTests/Infra/TestConfiguration.cs
Due: build, publish

refactor: extract helpers for face detection tests
  backend/PhotoBank.UnitTests/FaceServiceErrorHandlingTests.cs
Due: build, publish

test: extract minio mock helper
  backend/PhotoBank.UnitTests/FaceServiceIdentifyTests.cs
  backend/PhotoBank.UnitTests/Infrastructure/Minio/MinioMockExtensions.cs
  backend/PhotoBank.UnitTests/MinioObjectServiceTests.cs
Due: build, publish

fix: enforce ACL filtering when resolving S3 resources
  backend/PhotoBank.Services/Api/PhotoService.cs
  backend/PhotoBank.Services/S3ResourceService.cs
  backend/PhotoBank.UnitTests/S3ResourceServiceTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceS3AccessTests.cs
Due: build, publish

test: simplify MinIO stubs in photo handler tests
  backend/PhotoBank.UnitTests/Handlers/PhotoCreatedHandlerTests.cs
Due: build, publish

fix: reuse tracked photo and face entries
  backend/PhotoBank.Services/Handlers/PhotoCreatedHandler.cs
Due: build, publish

fix: escape telegram html output
  frontend/packages/telegram-bot/src/commands/photosPage.test.ts
  frontend/packages/telegram-bot/src/commands/photosPage.ts
  frontend/packages/telegram-bot/src/formatPhotoMessage.ts
  frontend/packages/telegram-bot/src/photo.test.ts
  frontend/packages/telegram-bot/src/utils/escapeHtml.ts
Due: build

feat: cache search filter tokens
  frontend/packages/telegram-bot/src/cache/searchFilterCache.ts
  frontend/packages/telegram-bot/src/commands/search.test.ts
  frontend/packages/telegram-bot/src/commands/search.ts
Due: build

Revert "fix: escape telegram html output"
  frontend/packages/telegram-bot/src/commands/photosPage.test.ts
  frontend/packages/telegram-bot/src/commands/photosPage.ts
  frontend/packages/telegram-bot/src/formatPhotoMessage.ts
  frontend/packages/telegram-bot/src/photo.test.ts
  frontend/packages/telegram-bot/src/utils/escapeHtml.ts
Due: build

update gitignore
  .gitignore
Due: none

fixes
  backend/PhotoBank.Api/appsettings.Development.json
  docker-compose.yml
  frontend/packages/telegram-bot/src/commands/search.test.ts
Due: build, publish

fix: normalize taken date filtering
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.Services/Api/PhotoService.cs
Due: build, publish

feat: show reverse geocoded addresses in captions
  frontend/packages/telegram-bot/src/formatPhotoMessage.ts
  frontend/packages/telegram-bot/src/photo.test.ts
  frontend/packages/telegram-bot/src/photo.ts
  frontend/packages/telegram-bot/test/formatPhotoMessage.test.ts
Due: build

fix: clear cached preview when starting new search
  frontend/packages/telegram-bot/src/commands/photosPage.test.ts
  frontend/packages/telegram-bot/src/commands/photosPage.ts
Due: build

feat: document date filters in search usage
  frontend/packages/telegram-bot/src/locales/en.ftl
  frontend/packages/telegram-bot/src/locales/ru.ftl
Due: build

fix: align search usage tips across locales
  frontend/packages/telegram-bot/src/locales/en.ftl
  frontend/packages/telegram-bot/src/locales/ru.ftl
  frontend/packages/telegram-bot/test/searchUsageLocale.test.ts
Due: build

chore: fix duplicate using in search filter tests
  backend/PhotoBank.Services/Search/SearchFilterNormalizer.cs
  backend/PhotoBank.UnitTests/Services/SearchFilterNormalizerTests.cs
Due: build, publish

fix: hide invalid geolocation link
  frontend/packages/frontend/src/pages/detail/PhotoDetailsPage.tsx
Due: build

fix: refresh search pagination tokens
  frontend/packages/telegram-bot/src/cache/searchFilterCache.ts
  frontend/packages/telegram-bot/test/searchFilterCache.test.ts
Due: build

cleanup
  frontend/packages/frontend/package.json
  frontend/packages/frontend/src/components/PhotoPreviewModal.tsx
  frontend/packages/frontend/src/components/formatters/Chips.tsx
  frontend/packages/frontend/src/components/formatters/FlagIcon.tsx
  frontend/packages/frontend/src/features/photos/PhotosPage.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.test.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
  frontend/packages/frontend/src/features/viewer/Lightbox.tsx
  frontend/packages/frontend/src/features/viewer/prefetch.ts
  frontend/packages/frontend/src/hooks/useImagePrefetch.ts
  frontend/packages/frontend/src/hooks/useInView.ts
  frontend/packages/frontend/src/pages/list/PhotoListHeader.tsx
  frontend/packages/frontend/src/pages/list/PhotoPreview.tsx
  frontend/packages/frontend/src/pages/list/PreviewCell.tsx
  frontend/packages/frontend/src/pages/list/RowActions.tsx
  frontend/packages/frontend/src/pages/profile/ProfilePage.tsx
  frontend/packages/frontend/test/useInView.test.tsx
  frontend/packages/frontend/tsconfig.json
  frontend/pnpm-lock.yaml
Due: build, publish

Phototable
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
  frontend/pnpm-lock.yaml
Due: build

fix: align photo list layout with navbar height
  frontend/packages/frontend/src/app/App.tsx
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
Due: build

revert
  frontend/packages/frontend/package.json
  frontend/packages/frontend/src/components/PhotoPreviewModal.tsx
  frontend/packages/frontend/src/components/formatters/Chips.tsx
  frontend/packages/frontend/src/components/formatters/FlagIcon.tsx
  frontend/packages/frontend/src/features/photos/PhotosPage.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.test.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
  frontend/packages/frontend/src/features/viewer/Lightbox.tsx
  frontend/packages/frontend/src/features/viewer/prefetch.ts
  frontend/packages/frontend/src/hooks/useImagePrefetch.ts
  frontend/packages/frontend/src/hooks/useInView.ts
  frontend/packages/frontend/src/pages/list/PhotoListHeader.tsx
  frontend/packages/frontend/src/pages/list/PhotoPreview.tsx
  frontend/packages/frontend/src/pages/list/PreviewCell.tsx
  frontend/packages/frontend/src/pages/list/RowActions.tsx
  frontend/packages/frontend/src/pages/profile/ProfilePage.tsx
  frontend/packages/frontend/test/useInView.test.tsx
  frontend/packages/frontend/tsconfig.json
  frontend/pnpm-lock.yaml
Due: build, publish

refactor: centralize dictionary command wiring
  frontend/packages/telegram-bot/src/commands/dictionaryFactory.ts
  frontend/packages/telegram-bot/src/commands/persons.ts
  frontend/packages/telegram-bot/src/commands/storages.ts
  frontend/packages/telegram-bot/src/commands/tags.ts
  frontend/packages/telegram-bot/src/index.ts
  frontend/packages/telegram-bot/src/patterns.ts
  frontend/packages/telegram-bot/test/dictionaryFactory.test.ts
  frontend/packages/telegram-bot/test/openaiDisabled.test.ts
Due: build

refactor: share filter paging helper
  frontend/packages/telegram-bot/src/commands/ai.test.ts
  frontend/packages/telegram-bot/src/commands/ai.ts
  frontend/packages/telegram-bot/src/commands/filterPage.ts
  frontend/packages/telegram-bot/src/commands/search.ts
  frontend/packages/telegram-bot/src/index.ts
  frontend/packages/telegram-bot/test/aiCommand.test.skip.ts
  frontend/packages/telegram-bot/test/aiPage.test.skip.ts
Due: build

chore(frontend): add react query devtools
  frontend/packages/frontend/package.json
  frontend/packages/frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: build, publish

update
  frontend/package.json
  frontend/packages/frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: build, publish

feat(telegram-bot): remember last filters
  frontend/packages/telegram-bot/src/cache/lastFilterCache.ts
  frontend/packages/telegram-bot/src/commands/filter.ts
  frontend/packages/telegram-bot/src/commands/filterPage.ts
  frontend/packages/telegram-bot/src/commands/photosPage.ts
  frontend/packages/telegram-bot/src/index.ts
  frontend/packages/telegram-bot/src/locales/en.ftl
  frontend/packages/telegram-bot/src/locales/ru.ftl
  frontend/packages/telegram-bot/test/filter.test.ts
  frontend/packages/telegram-bot/test/openaiDisabled.test.ts
  frontend/packages/telegram-bot/test/photosPage.test.ts
Due: build

fix: tighten partial person name matching
  backend/PhotoBank.Services/Search/SearchFilterNormalizer.cs
  backend/PhotoBank.UnitTests/Services/SearchFilterNormalizerTests.cs
Due: build, publish

fix photos table
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
  frontend/packages/shared/tsconfig.tsbuildinfo
Due: build, publish

fix photos table
  frontend/packages/frontend/src/features/photos/components/PhotoTable.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
Due: build

fix photos table
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/components/admin/CreatePersonGroupDialog.tsx
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/frontend/src/components/admin/UsersTable.tsx
  frontend/packages/frontend/src/hooks/use-mobile.tsx
  frontend/packages/frontend/src/hooks/use-toast.ts
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
  frontend/packages/frontend/src/pages/admin/EditPersonGroupPage.tsx
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
  frontend/packages/frontend/src/pages/admin/PersonGroupsPage.tsx
  frontend/packages/frontend/src/pages/admin/PersonsPage.tsx
  frontend/packages/frontend/src/pages/admin/UsersPage.tsx
Due: build

feat: include roles in admin user responses
  backend/PhotoBank.Api/Controllers/Admin/UsersController.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.ViewModel.Dto/UserDto.cs
Due: build, publish

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)
