Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)

small fixes
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.IntegrationTests/Auth/TelegramSubscriptionsTests.cs
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/GetPersonsIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/ProgramSmokeTests.cs
  proxy/nginx.conf
Due: build, publish

fix: add array validation to prevent entities.map error
  frontend/packages/shared/src/metadata/index.ts
  frontend/packages/telegram-bot/src/services/dictionary.ts
Due: build

fix: implement actual API call for admin user creation
  frontend/package-lock.json
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
Due: build

fix: prevent cache poisoning on invalid API responses
  frontend/packages/telegram-bot/src/dictionaries.ts
  frontend/packages/telegram-bot/src/services/dictionary.ts
Due: build

fix: correct API base URL for telegram bot
  docker-compose.yml
Due: none

fix: resolve image display and message duplication issues in telegram bot
  frontend/packages/telegram-bot/src/config.ts
  frontend/packages/telegram-bot/src/photo.ts
Due: build

fix: add IMAGE_BASE_URL environment variable for bot container
  .env.example
  docker-compose.yml
Due: none

fix: add fallback to API_BASE_URL for backward compatibility
  .env.example
  frontend/packages/telegram-bot/src/photo.ts
Due: build

Update docker-compose.yml
  docker-compose.yml
Due: none

fix: improve Create User dialog form validation feedback
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
Due: build

debug: add extensive logging to CreateUserDialog for troubleshooting
  frontend/packages/frontend/src/components/admin/CreateUserDialog.tsx
Due: build

small fixes
  proxy/nginx.conf
Due: none

Change icon
  frontend/packages/frontend/index.html
  frontend/packages/frontend/public/photobank.svg
  frontend/packages/frontend/public/vite.svg
Due: build, publish

fix: update pnpm lockfile for tv package
  frontend/pnpm-lock.yaml
Due: none

chore: обновить URL API для tv приложения
  frontend/packages/tv/src/api/client.ts
Due: none

fix(tv): исправить формирование URL для изображений
  frontend/packages/tv/src/components/PhotoListItem.tsx
  frontend/packages/tv/src/screens/DetailScreen.tsx
  frontend/packages/tv/src/utils/urlHelpers.ts
Due: none

feat: add GitHub Action for Android TV APK builds
  .github/workflows/android-tv-build.yml
Due: none

fix(tv): correct gradle-plugin path for pnpm workspace
  frontend/packages/tv/android/settings.gradle
Due: none

fix(tv): correct all node_modules paths for pnpm workspace
  frontend/packages/tv/android/app/build.gradle
  frontend/packages/tv/metro.config.js
Due: none

fix(ci): fix pnpm cache path evaluation in GitHub Actions
  .github/workflows/android-tv-build.yml
  .github/workflows/frontend.yml
  .github/workflows/telegram-bot.yml
Due: none

fix(tv): correct React Native paths to be relative to root
  frontend/packages/tv/android/app/build.gradle
Due: none

fix(tv): correct Metro extraNodeModules to use package node_modules
  frontend/packages/tv/metro.config.js
Due: none

fix(tv): correct gradle-plugin path to use package node_modules
  frontend/packages/tv/android/settings.gradle
Due: none

fix(tv): restore correct gradle-plugin path for pnpm workspace
  frontend/packages/tv/android/settings.gradle
Due: none

fix(tv): correct Metro extraNodeModules paths for pnpm workspace
  frontend/packages/tv/metro.config.js
Due: none

fix(tv): add workspace node_modules to Metro watchFolders
  frontend/packages/tv/metro.config.js
Due: none

fix(tv): resolve react native gradle plugin path
  frontend/packages/tv/android/settings.gradle
Due: none

fix: place plugin management before other settings
  frontend/packages/tv/android/settings.gradle
Due: none

revert
  .github/workflows/android-tv-build.yml
  .github/workflows/frontend.yml
  .github/workflows/telegram-bot.yml
  frontend/packages/tv/android/app/build.gradle
  frontend/packages/tv/metro.config.js
Due: none

feat: expose user access profile assignments
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.Services/Identity/AdminUserService.cs
  backend/PhotoBank.Services/Identity/UserDtoMapper.cs
  backend/PhotoBank.UnitTests/Identity/AdminUserServiceTests.cs
  backend/PhotoBank.ViewModel.Dto/UserAccessProfileAssignmentDto.cs
  backend/PhotoBank.ViewModel.Dto/UserDto.cs
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.test.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/tv/src/api/generated/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/tv/src/api/generated/auth/auth.ts
  frontend/packages/tv/src/api/generated/faces/faces.ts
  frontend/packages/tv/src/api/generated/paths/paths.ts
  frontend/packages/tv/src/api/generated/person-groups/person-groups.ts
  frontend/packages/tv/src/api/generated/persons/persons.ts
  frontend/packages/tv/src/api/generated/photoBankApi.schemas.ts
  frontend/packages/tv/src/api/generated/photos/photos.ts
  frontend/packages/tv/src/api/generated/storages/storages.ts
  frontend/packages/tv/src/api/generated/tags/tags.ts
  frontend/packages/tv/src/api/generated/users/users.ts
  frontend/packages/tv/src/api/generated/version/version.ts
  openapi.yaml
Due: build, publish

feat(admin): allow editing telegram settings
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.test.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
  frontend/packages/frontend/src/pages/admin/UsersPage.tsx
Due: build

fix(admin): reset telegram form when switching users
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.test.tsx
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.tsx
Due: build

fix tv
  frontend/.claude/settings.local.json
  frontend/package.json
  frontend/packages/tv/.claude/settings.local.json
  frontend/packages/tv/.github/workflows/build-release-apk.yml
  frontend/packages/tv/.npmrc
  frontend/packages/tv/CLAUDE.md
  frontend/packages/tv/android/app/src/main/res/xml/network_security_config.xml
  frontend/packages/tv/android/gradle.properties
  frontend/packages/tv/android/settings.gradle
  frontend/packages/tv/metro.config.js
  frontend/packages/tv/package.json
  frontend/packages/tv/pnpm-lock.yaml
  frontend/packages/tv/scripts/README.md
  frontend/packages/tv/scripts/setup-symlinks.ps1
  frontend/packages/tv/scripts/setup-symlinks.sh
  frontend/packages/tv/src/api/client.ts
  frontend/packages/tv/src/components/PhotoListItem.tsx
  frontend/packages/tv/src/screens/DetailScreen.tsx
  frontend/packages/tv/src/screens/HomeScreen.tsx
  frontend/packages/tv/src/utils/photoHelpers.ts
Due: none

fix front
  frontend/.claude/settings.local.json
  frontend/packages/frontend/src/components/admin/UserDetailsDrawer.test.tsx
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/tv/src/api/generated/photoBankApi.schemas.ts
  openapi.yaml
Due: build

Update Android TV build workflow triggers
  .github/workflows/android-tv-build.yml
Due: none

remove postinstall
  frontend/packages/tv/package.json
Due: none

Migrate ASP.NET Identity from string to Guid primary keys
  backend/PhotoBank.Api/Controllers/Admin/UsersController.cs
  backend/PhotoBank.DbContext/AccessControl/AccessProfileEntities.cs
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/Models/ApplicationRole.cs
  backend/PhotoBank.DbContext/Models/ApplicationUser.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankApiExtensions.cs
  backend/PhotoBank.Services/AccessControl/CurrentUser.cs
  backend/PhotoBank.Services/AccessControl/DummyCurrentUser.cs
  backend/PhotoBank.Services/AccessControl/HttpContextCurrentUserAccessor.cs
  backend/PhotoBank.Services/AccessControl/ICurrentUser.cs
  backend/PhotoBank.Services/Api/TokenService.cs
  backend/PhotoBank.Services/Identity/AdminUserService.cs
  backend/PhotoBank.Services/Identity/IAdminUserService.cs
  backend/PhotoBank.ViewModel.Dto/UserDto.cs
Due: build, publish

Enable useUnionTypes in orval configuration
  frontend/orval.config.ts
Due: none

Update OpenAPI spec: Change User ID from string to UUID
  openapi.yaml
Due: none
