Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

build:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  volumes:
  - /var/lib/woodpecker-cache/nuget:/root/.nuget-store
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API build and test"
  
    cd backend
  
    dotnet restore PhotoBank.Backend.sln
  
  ...

publish:
  image: docker:28.4.0-cli
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  environment:
    DOCKER_USERNAME:
      from_secret: docker_username
    DOCKER_PASSWORD:
      from_secret: docker_password
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API docker build and push"
  
  ...

fix: add appsettings.Development.json to IntegrationTests project
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
Due: build, publish

settings
  backend/.gitignore
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
Due: build, publish

settings
  .gitignore
  backend/PhotoBank.IntegrationTests/appsettings.Development.json
Due: build, publish

fix: update computed columns for PostgreSQL compatibility
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/Migrations/20251028110726_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251028110726_Initial.cs
  backend/PhotoBank.DbContext/Migrations/PhotoBankDbContextModelSnapshot.cs
Due: build, publish

refactor: move connection strings to configuration in DbContext factories
  backend/PhotoBank.DbContext/AccessControl/AccessControlDbContextFactory.cs
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContextFactory.cs
Due: build, publish

fix: add Configuration NuGet packages for DbContext factories
  backend/PhotoBank.DbContext/AccessControl/AccessControlDbContextFactory.cs
  backend/PhotoBank.DbContext/PhotoBank.DbContext.csproj
Due: build, publish

fix: remove computed columns and fix PostgreSQL syntax in DbContext
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
Due: build, publish

db migration
  .claude/settings.local.json
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/Migrations/20251028141808_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251028141808_Initial.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251028141941_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251028141941_Initial.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/AccessControlDbContextModelSnapshot.cs
  backend/PhotoBank.DbContext/Migrations/PhotoBankDbContextModelSnapshot.cs
Due: build, publish

fix: add error handling for truncated JSON in FaceHelper
  backend/PhotoBank.Services/FaceHelper.cs
Due: build, publish

db setup
  backend/PhotoBank.DbContext/Migrations/20251031134351_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251031134351_Initial.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251031134443_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251031134443_Initial.cs
Due: build, publish

feat: proxy S3 images locally through /media endpoint
  backend/PhotoBank.Api/Controllers/MediaController.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankCoreExtensions.cs
  backend/PhotoBank.Services/Internal/MediaUrlResolver.cs
  backend/PhotoBank.Services/Internal/S3Options.cs
  backend/PhotoBank.UnitTests/Internal/MediaUrlResolverTests.cs
Due: build, publish

fix: remove PostgreSQL incompatible computed columns
  backend/.claude/settings.local.json
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/Migrations/20251103105143_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251103105143_Initial.cs
  backend/PhotoBank.DbContext/Migrations/PhotoBankDbContextModelSnapshot.cs
Due: build, publish

Revert "fix: remove PostgreSQL incompatible computed columns"
  backend/.claude/settings.local.json
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/Migrations/20251031134351_Initial.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251031134351_Initial.cs
  backend/PhotoBank.DbContext/Migrations/PhotoBankDbContextModelSnapshot.cs
Due: build, publish

fix integration tests
  backend/PhotoBank.DbContext/AccessControl/AccessControlDbContextFactory.cs
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContext.cs
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContextFactory.cs
  backend/PhotoBank.DbContext/Migrations/20251103111134_FixTakenDayMonth.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251103111134_FixTakenDayMonth.cs
  backend/PhotoBank.DbContext/Migrations/20251103124346_Empty.Designer.cs
  backend/PhotoBank.DbContext/Migrations/20251103124346_Empty.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251103124432_Empty.Designer.cs
  backend/PhotoBank.DbContext/Migrations/AccessControlDb/20251103124432_Empty.cs
  backend/PhotoBank.DbContext/Models/Photo.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.IntegrationTests/Auth/TelegramSubscriptionsTests.cs
  backend/PhotoBank.IntegrationTests/GetPersonsIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/Infra/ApiWebApplicationFactory.cs
  backend/PhotoBank.Services/Search/PhotoFilterSpecification.cs
Due: build, publish

fix: configure IEffectiveAccessProvider mock in AdminAccessProfilesControllerTests
  backend/.claude/settings.local.json
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Infra/ApiWebApplicationFactory.cs
Due: build, publish

remove tests
  backend/PhotoBank.IntegrationTests/GetPhotoIntegrationTests.cs
Due: build, publish

Revert "Merge pull request #896 from makhin/claude/proxy-s3-images-locally-011CUjFi6iRVRtN4duYrWiyj"
  backend/PhotoBank.Api/Controllers/MediaController.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankCoreExtensions.cs
  backend/PhotoBank.Services/Internal/MediaUrlResolver.cs
  backend/PhotoBank.Services/Internal/S3Options.cs
  backend/PhotoBank.UnitTests/Internal/MediaUrlResolverTests.cs
Due: build, publish

pi setup
  docker-compose.yml
  nginx.conf
Due: none

Configure MinIO presigned URLs to serve via Nginx on HTTPS port 443
  backend/PhotoBank.Api/appsettings.json
  backend/PhotoBank.Services/Internal/MediaUrlResolver.cs
  backend/PhotoBank.Services/Internal/S3Options.cs
  docker-compose.yml
  nginx.conf
Due: build, publish

Add dynamic host-based URL resolution for multi-domain support
  backend/PhotoBank.Api/appsettings.json
  backend/PhotoBank.DependencyInjection/AddPhotobankCoreExtensions.cs
  backend/PhotoBank.Services/Internal/MediaUrlResolver.cs
  backend/PhotoBank.Services/Photos/Queries/IPhotoQueryService.cs
  docker-compose.yml
  nginx.conf
Due: build, publish

Remove external MinIO URLs from docker-compose
  docker-compose.yml
Due: none

fix: add MinIO service with correct healthcheck to docker-compose
  .env.example
  docker-compose.yml
Due: none

docs: clarify API_BASE_URL vs VITE_API_BASE_URL configuration
  .env.example
  ENV_CONFIGURATION.md
  docker-compose.yml
Due: none

small fix
  docker-compose.yml
Due: none

Use relative API URL for multi-domain support in frontend
  .env.example
  frontend/packages/frontend/src/config.ts
Due: build

Add dynamic host support to FaceCatalogService and PhotoDuplicateFinder
  backend/PhotoBank.Services/Photos/Faces/IFaceCatalogService.cs
  backend/PhotoBank.Services/Photos/IPhotoDuplicateFinder.cs
Due: build, publish

fix: add IHttpContextAccessor to all unit tests
  backend/PhotoBank.UnitTests/PersonGroupServiceTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetAllPhotosAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetFacesPageAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetPhotoAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceUploadTests.cs
Due: build, publish

fix: unblock backend build without local settings
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
  backend/PhotoBank.UnitTests/GlobalUsings.cs
  backend/PhotoBank.UnitTests/PersonGroupServiceTests.cs
  backend/PhotoBank.UnitTests/PhotoBank.UnitTests.csproj
Due: build, publish

feat: use JsonStringEnumConverter and type over interfaces
  backend/PhotoBank.DependencyInjection/AddPhotobankApiExtensions.cs
  frontend/orval.config.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
Due: build, publish

refactor: simplify enum handling after JsonStringEnumConverter
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
Due: build

update, small fixes
  backend/PhotoBank.Api/PhotoBank.Api.csproj
  backend/PhotoBank.Console/PhotoBank.Console.csproj
  backend/PhotoBank.DbContext/PhotoBank.DbContext.csproj
  backend/PhotoBank.DependencyInjection/PhotoBank.DependencyInjection.csproj
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
  backend/PhotoBank.Repositories/PhotoBank.Repositories.csproj
  backend/PhotoBank.Services/GeoWrapper.cs
  backend/PhotoBank.Services/PhotoBank.Services.csproj
  backend/PhotoBank.UnitTests/PhotoBank.UnitTests.csproj
  backend/PhotoBank.UnitTests/Search/PhotoFilterSpecificationTests.cs
  backend/PhotoBank.ViewModel.Dto/PhotoBank.ViewModel.Dto.csproj
Due: build, publish

fix tests, refactoring
  backend/.claude/settings.local.json
  backend/PhotoBank.Services/FaceHelper.cs
  backend/PhotoBank.UnitTests/Identity/AuthServiceTests.cs
Due: build, publish

fix generation openapi
  backend/.claude/settings.local.json
  backend/PhotoBank.Api/generateApi.bat
  backend/PhotoBank.Api/generateApi.ps1
  openapi.yaml
Due: build, publish

feat: migrate CI/CD from Woodpecker to GitHub Actions
  .github/workflows/README.md
  .github/workflows/api.yml
  .github/workflows/frontend.yml
  .github/workflows/telegram-bot.yml
Due: none

feat: configure workflows for ARM64 and manual-only execution
  .github/workflows/README.md
  .github/workflows/api.yml
  .github/workflows/frontend.yml
  .github/workflows/telegram-bot.yml
Due: none

fix: make appsettings.Development.json optional in IntegrationTests
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
Due: build, publish

feat: использовать относительный путь /api для фронтенда в Docker
  frontend/packages/frontend/src/config.ts
Due: build

fixes
  backend/.claude/settings.local.json
  docker-compose.yml
  nginx.conf
Due: build, publish

fix: проксирование MinIO через nginx для корректных URL изображений
  docker-compose.yml
  nginx.conf
Due: none

feat: динамические URL изображений в зависимости от домена
  backend/PhotoBank.Services/Internal/MediaUrlResolver.cs
  backend/PhotoBank.UnitTests/Internal/MediaUrlResolverTests.cs
  docker-compose.yml
Due: build, publish

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)
