Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

build:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  volumes:
  - /var/lib/woodpecker-cache/nuget:/root/.nuget-store
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API build and test"
  
    cd backend
  
    dotnet restore PhotoBank.Backend.sln
  
  ...

publish:
  image: docker:28.4.0-cli
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  environment:
    DOCKER_USERNAME:
      from_secret: docker_username
    DOCKER_PASSWORD:
      from_secret: docker_password
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API docker build and push"
  
  ...

fix: truncate mobile photo list names
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.test.tsx
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.tsx
Due: build

fix: reduce photo viewer title offset
  frontend/packages/frontend/src/pages/detail/components/PhotoViewer.tsx
Due: build

test: align PhotoListItemMobile fixture with dto
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.test.tsx
Due: build

fix: truncate photo detail header text
  frontend/packages/frontend/src/pages/detail/components/PhotoViewer.tsx
Due: build

fix: normalize filter date selection with date-fns
  frontend/packages/frontend/src/components/FilterFormFields.tsx
  frontend/packages/frontend/src/shared/lib/filter-url.ts
  frontend/packages/frontend/test/filter-url.test.ts
Due: build

fix: show capture time in mobile photo list
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.test.tsx
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.tsx
Due: build

fix: display taken date with time on photo details
  frontend/packages/frontend/src/pages/detail/PhotoDetailsPage.tsx
  frontend/packages/frontend/src/pages/detail/components/PhotoPropertiesPanel.test.tsx
Due: build

fix: add fuse dependency for telegram bot
  frontend/packages/telegram-bot/package.json
Due: build, publish

chore(frontend): refresh pnpm lockfile
  frontend/pnpm-lock.yaml
Due: none

test: use Date input in PhotoListItemMobile test
  frontend/packages/frontend/src/pages/list/PhotoListItemMobile.test.tsx
Due: build

fix: align face overlays with measured preview dimensions
  frontend/packages/frontend/src/hooks/useImageContainerSizing.ts
  frontend/packages/frontend/src/pages/detail/PhotoDetailsPage.tsx
  frontend/packages/frontend/src/pages/detail/__tests__/PhotoDetailsPage.orientation.test.tsx
  frontend/packages/frontend/src/pages/detail/components/PhotoViewer.tsx
Due: build

fix: align admin create action buttons
  frontend/packages/frontend/src/index.css
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
  frontend/packages/frontend/src/pages/admin/UsersPage.tsx
Due: build

fix: constrain select content height
  frontend/packages/frontend/src/shared/ui/select.tsx
Due: build

refactor: remove production dependencies from root package.json
  frontend/package.json
Due: none

chore: update pnpm-lock.yaml after removing root dependencies
  frontend/pnpm-lock.yaml
Due: none

chore: ignore TypeScript build info files
  frontend/.gitignore
  frontend/packages/shared/tsconfig.tsbuildinfo
Due: build, publish

chore: add Node.js engines field to all package.json files
  frontend/packages/frontend/package.json
  frontend/packages/shared/package.json
  package.json
Due: build, publish

fixes and cleanup
  frontend/packages/frontend/eslint.config.mjs
  frontend/packages/frontend/package.json
  frontend/packages/frontend/src/pages/detail/__tests__/PhotoDetailsPage.orientation.test.tsx
  frontend/packages/frontend/src/shared/ui/multi-select.tsx
  frontend/packages/shared/package.json
  frontend/packages/shared/src/utils/logger.ts
  frontend/packages/telegram-bot/package.json
  frontend/pnpm-lock.yaml
Due: build, publish

revert tests
  frontend/packages/frontend/test/FilterFormFields.test.tsx
  frontend/packages/frontend/test/FilterPage.test.tsx
  frontend/packages/frontend/test/authSlice.test.ts
  frontend/packages/telegram-bot/test/aiCommand.test.ts
  frontend/packages/telegram-bot/test/aiPage.test.ts
  frontend/packages/telegram-bot/test/auth.test.ts
  frontend/packages/telegram-bot/test/bot.test.ts
  frontend/packages/telegram-bot/test/deeplink.test.ts
  frontend/packages/telegram-bot/test/dictionaries.test.ts
  frontend/packages/telegram-bot/test/errorHandler.test.ts
  frontend/packages/telegram-bot/test/helpCommand.test.ts
  frontend/packages/telegram-bot/test/photoInline.test.ts
  frontend/packages/telegram-bot/test/searchCommand.test.ts
  frontend/packages/telegram-bot/test/searchPage.test.ts
  frontend/packages/telegram-bot/test/send.test.ts
  frontend/packages/telegram-bot/test/subscribe.test.ts
  frontend/packages/telegram-bot/test/thisdayPage.test.ts
  frontend/packages/telegram-bot/test/uploadCommand.test.ts
Due: build

fix errors
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
  frontend/packages/frontend/src/pages/admin/FacesPage.test.tsx
  frontend/packages/frontend/src/pages/list/PhotoTable.integration.test.tsx
  frontend/packages/frontend/src/pages/service/ServiceInfoPage.tsx
  frontend/packages/frontend/src/shared/utils/buildThumbnailUrl.ts
  frontend/packages/telegram-bot/tsconfig.eslint.json
Due: build, publish

fix lint
  frontend/package.json
  frontend/packages/frontend/src/components/admin/CreateProfileDialog.tsx
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
  frontend/packages/frontend/src/components/admin/EditProfileDialog.tsx
  frontend/packages/frontend/src/hooks/use-toast.ts
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
  frontend/packages/frontend/src/pages/detail/components/PhotoFacesPanel.tsx
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
  frontend/packages/frontend/src/shared/ui/password-input.tsx
  frontend/packages/telegram-bot/src/api/client.ts
  frontend/packages/telegram-bot/src/commands/ai.ts
  frontend/packages/telegram-bot/src/commands/filter.ts
  frontend/packages/telegram-bot/src/commands/search.ts
  frontend/packages/telegram-bot/src/commands/subscribe.ts
  frontend/packages/telegram-bot/src/photo.ts
  frontend/packages/telegram-bot/src/services/photo.ts
Due: build

fix
  frontend/packages/frontend/src/components/admin/EditFaceDialog.tsx
Due: build

test: update telegram bot tests for API changes
  frontend/packages/telegram-bot/test/aiCommand.test.ts
  frontend/packages/telegram-bot/test/aiPage.test.ts
  frontend/packages/telegram-bot/test/dictionaries.test.ts
  frontend/packages/telegram-bot/test/photo.service.test.ts
  frontend/packages/telegram-bot/test/photoInline.test.ts
  frontend/packages/telegram-bot/test/searchCommand.test.ts
  frontend/packages/telegram-bot/test/searchPage.test.ts
  frontend/packages/telegram-bot/test/subscribe.test.ts
  frontend/packages/telegram-bot/test/thisdayPage.test.ts
Due: build

test: stabilize frontend integration tests
  frontend/packages/frontend/src/pages/list/PhotoTable.integration.test.tsx
  frontend/packages/frontend/test-setup.ts
Due: build, publish

test: fix OpenAI mock constructor in frontend tests
  frontend/packages/shared/src/ai/__tests__/openai.spec.ts
  frontend/packages/shared/test/ai/openai.test.ts
Due: build

test: stabilize EditProfileDialog calendar selection
  frontend/packages/frontend/src/components/admin/EditProfileDialog.test.tsx
Due: build

test: stabilize FilterFormFields admin checkbox
  frontend/packages/frontend/test/FilterFormFields.test.tsx
Due: build

test: stabilize FilterFormFields admin mock
  frontend/packages/frontend/test/FilterFormFields.test.tsx
Due: build

test: fix EditProfileDialog calendar selection timeout
  frontend/packages/frontend/src/components/admin/EditProfileDialog.test.tsx
Due: build

chore: add IntelliJ IDEA run configurations for Vitest in monorepo
  .gitignore
  .idea/VITEST_SETUP.md
  .idea/runConfigurations/Vitest___Frontend.xml
  .idea/runConfigurations/Vitest___Shared.xml
  .idea/runConfigurations/Vitest___Telegram_Bot.xml
  frontend/.gitignore
Due: none

docs: add Claude guidance for frontend packages
  frontend/CLAUDE.md
  frontend/packages/CLAUDE.md
  frontend/packages/frontend/CLAUDE.md
  frontend/packages/shared/CLAUDE.md
  frontend/packages/telegram-bot/CLAUDE.md
Due: build, publish

refactor: remove duplicate logger wrapper in telegram-bot
  frontend/packages/telegram-bot/src/telegram/send.ts
  frontend/packages/telegram-bot/src/utils/logger.ts
Due: build

feat: add Telegram language code support and auto-registration
  backend/PhotoBank.Api/Controllers/AuthController.cs
  backend/PhotoBank.DbContext/Migrations/20251026190211_AddTelegramLanguageCode.cs
  backend/PhotoBank.DbContext/Migrations/PhotoBankDbContextModelSnapshot.cs
  backend/PhotoBank.DbContext/Models/ApplicationUser.cs
  backend/PhotoBank.Services/Identity/AuthService.cs
  backend/PhotoBank.Services/Identity/IAuthService.cs
  backend/PhotoBank.UnitTests/Identity/AuthServiceTests.cs
  frontend/packages/telegram-bot/src/api/auth.ts
  frontend/packages/telegram-bot/src/auth.ts
Due: build, publish

feat: migrate backend from MS SQL Server to PostgreSQL
  backend/PhotoBank.Api/PhotoBank.Api.csproj
  backend/PhotoBank.Api/appsettings.json
  backend/PhotoBank.BlobMigrator/Program.cs
  backend/PhotoBank.DbContext/AccessControl/AccessControlDbContextFactory.cs
  backend/PhotoBank.DbContext/DbContext/PhotoBankDbContextFactory.cs
  backend/PhotoBank.DbContext/PhotoBank.DbContext.csproj
  backend/PhotoBank.DependencyInjection/AddPhotobankApiExtensions.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankDbContextExtensions.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.IntegrationTests/Auth/TelegramSubscriptionsTests.cs
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/GetPersonsIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/GetPhotoIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/appsettings.json
  backend/Photobank.ServerBlazorApp/PhotoBankDbContextFactory.cs
  backend/Photobank.ServerBlazorApp/Program.cs
  backend/Photobank.ServerBlazorApp/appsettings.json
Due: build, publish

fix: configure Npgsql to handle DateTime with Kind=Unspecified
  backend/PhotoBank.Api/Program.cs
  backend/PhotoBank.BlobMigrator/Program.cs
  backend/PhotoBank.DependencyInjection/AddPhotobankDbContextExtensions.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminAccessProfilesControllerTests.cs
  backend/PhotoBank.IntegrationTests/Admin/AdminUsersControllerTests.cs
  backend/PhotoBank.IntegrationTests/Auth/TelegramSubscriptionsTests.cs
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/GetPersonsIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/GetPhotoIntegrationTests.cs
  backend/Photobank.ServerBlazorApp/Program.cs
Due: build, publish

refactor: move connection strings to appsettings.Development.json
  backend/PhotoBank.Api/appsettings.Development.example.json
  backend/PhotoBank.Api/appsettings.json
  backend/PhotoBank.IntegrationTests/appsettings.Development.example.json
  backend/PhotoBank.IntegrationTests/appsettings.Development.json
  backend/PhotoBank.IntegrationTests/appsettings.json
  backend/Photobank.ServerBlazorApp/appsettings.Development.example.json
  backend/Photobank.ServerBlazorApp/appsettings.json
Due: build, publish

refactor: replace SQL Server FreeText with PostgreSQL ILike
  backend/PhotoBank.Services/Search/PhotoFilterSpecification.cs
  backend/PhotoBank.UnitTests/Search/PhotoFilterSpecificationTests.cs
Due: build, publish

chore: clean up SQL Server artifacts from backend code
  backend/.gitignore
  backend/AGENTS.md
  backend/PhotoBank.Console/PhotoBank.Console.csproj
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
  backend/PhotoBank.IntegrationTests/ProgramSmokeTests.cs
  backend/Photobank.ServerBlazorApp/PhotoBank.ServerBlazorApp.csproj
Due: build, publish

fix integration tests
  backend/PhotoBank.Console/PhotoBank.Console.csproj
  backend/PhotoBank.DbContext/PhotoBank.DbContext.csproj
  backend/PhotoBank.IntegrationTests/GetAllPhotosIntegrationTests.cs
  backend/PhotoBank.IntegrationTests/PhotoBank.IntegrationTests.csproj
  backend/PhotoBank.Services/Search/PhotoFilterSpecification.cs
Due: build, publish

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)
