Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, dockerize, publish

Path conditions:
  build: (any of: backend/*) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  dockerize: any of: backend/*
  publish: (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)

fix: improve frontend docker build caching
  frontend/Dockerfile.frontend
Due: none

chore: improve frontend docker caching
  frontend/Dockerfile.frontend
Due: none

chore: add no-restore flag to backend publish
  backend/Dockerfile
Due: build, dockerize

chore: update telegram bot docker build
  frontend/Dockerfile.bot
Due: none

fix
  frontend/Dockerfile.frontend
Due: none

fix
  .woodpecker/api.yml
  .woodpecker/frontend.yml
  .woodpecker/telegram-bot.yml
Due: none

chore: improve backend docker restore
  backend/Dockerfile
Due: build, dockerize

fix: improve frontend docker build cache
  frontend/Dockerfile.frontend
Due: none

fix: stop running serve during build
  frontend/Dockerfile.frontend
Due: none

build: emit js artifacts for shared package
  frontend/package.json
  frontend/packages/shared/package.json
  frontend/packages/shared/tsconfig.json
Due: build, publish

fix: rely on shared build for telegram bot
  frontend/packages/telegram-bot/tsconfig.json
Due: build, publish

chore: update backend docker restore target
  backend/Dockerfile
Due: build, dockerize

fix: copy telegram bot locales to dist
  frontend/packages/telegram-bot/package.json
Due: build, publish

Update api.yml
  .woodpecker/api.yml
Due: none

Update frontend.yml
  .woodpecker/frontend.yml
Due: none

Update telegram-bot.yml
  .woodpecker/telegram-bot.yml
Due: none

fix: load bot handlers after i18n middleware
  frontend/packages/telegram-bot/src/index.ts
Due: build

fix: install serve in frontend production image
  frontend/Dockerfile.frontend
Due: none

fix: retry auth on HttpError responses
  frontend/packages/telegram-bot/src/api/axios-instance.ts
  frontend/packages/telegram-bot/test/axios-instance.test.ts
Due: build

fix: emit problem details for telegram exchange errors
  backend/PhotoBank.Api/Controllers/AuthController.cs
  backend/PhotoBank.UnitTests/AuthControllerTests.cs
  frontend/packages/telegram-bot/test/registration.test.ts
Due: build

fix: allow non-admin person lookup
  backend/PhotoBank.Api/Controllers/PersonsController.cs
  backend/PhotoBank.IntegrationTests/GetPersonsIntegrationTests.cs
  frontend/packages/telegram-bot/test/axios-instance.test.ts
Due: build

feat: include role claims in telegram exchange tokens
  backend/PhotoBank.Api/Controllers/AuthController.cs
  backend/PhotoBank.UnitTests/AuthControllerTests.cs
Due: none

feat: send telegram previews as input files
  frontend/packages/telegram-bot/src/photo.test.ts
  frontend/packages/telegram-bot/src/photo.ts
Due: build

fix: align telegram bot photo pagination
  frontend/packages/telegram-bot/src/commands/photosPage.ts
  frontend/packages/telegram-bot/src/handlers/inline.ts
  frontend/packages/telegram-bot/src/services/photo.ts
Due: build

fix: use configured azure openai deployment
  frontend/packages/shared/src/ai/__tests__/openai.spec.ts
  frontend/packages/shared/src/ai/openai.ts
  frontend/packages/shared/src/api/photobank/msw.ts
  frontend/packages/shared/vitest.config.ts
Due: build, publish

fix: preserve telegram link on user updates
  backend/PhotoBank.Api/Controllers/Admin/UsersController.cs
  backend/PhotoBank.Api/Controllers/AuthController.cs
  backend/PhotoBank.UnitTests/AuthControllerTests.cs
Due: none

data as date
  backend/PhotoBank.Api/PhotoBank.Api.http
  frontend/orval.config.ts
  frontend/packages/shared/src/ai/constants.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/telegram-bot/.env.example
  frontend/packages/telegram-bot/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/telegram-bot/src/commands/ai.ts
Due: build, publish

fix: preserve filter dates as date objects
  frontend/packages/frontend/src/pages/filter/FilterPage.tsx
  frontend/packages/frontend/src/pages/list/PhotoListPage.tsx
  frontend/packages/frontend/src/shared/lib/filter-url.ts
Due: build

fix: keep search date filters as dates
  frontend/packages/telegram-bot/src/commands/search.ts
Due: build

fix: support flexible shared formatDate input
  frontend/packages/shared/src/index.ts
  frontend/packages/shared/test/formatDate.test.ts
Due: build

fix: skip undefined dates when encoding filters
  frontend/packages/telegram-bot/src/commands/search.ts
Due: build

fix: decode telegram filter dates
  frontend/packages/telegram-bot/src/commands/search.ts
Due: build

fix: format taken date string for telegram caption
  frontend/packages/telegram-bot/src/formatPhotoMessage.ts
Due: build

refactor: align shared date formatting with date-fns
  frontend/packages/shared/src/format/index.ts
  frontend/packages/shared/src/index.ts
  frontend/packages/shared/src/utils/parseDate.ts
  frontend/packages/shared/test/format.module.test.ts
  frontend/packages/shared/test/formatDate.test.ts
Due: build

fix: normalize photo table date formatting
  frontend/packages/frontend/src/features/photos/components/photoColumns.test.tsx
  frontend/packages/frontend/src/features/photos/components/photoColumns.tsx
  frontend/packages/frontend/test-setup.ts
  frontend/packages/frontend/vitest.config.ts
Due: build, publish

fix: validate photo filter date parsing
  frontend/packages/shared/src/ai/__tests__/filter.spec.ts
  frontend/packages/shared/src/ai/filter.ts
Due: build

fix: validate photo dates before grouping
  frontend/packages/telegram-bot/src/commands/photosPage.test.ts
  frontend/packages/telegram-bot/src/commands/photosPage.ts
  frontend/packages/telegram-bot/test-setup.ts
Due: build, publish

test: add jest-dom vitest types
  frontend/packages/frontend/src/features/photos/components/photoColumns.test.tsx
  frontend/packages/frontend/tsconfig.app.json
Due: build, publish
