Repository makhin/PhotoBank: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, publish

build:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  volumes:
  - /var/lib/woodpecker-cache/nuget:/root/.nuget-store
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API build and test"
  
    cd backend
  
    dotnet restore PhotoBank.Backend.sln
  
  ...

publish:
  image: docker:28.4.0-cli
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  environment:
    DOCKER_USERNAME:
      from_secret: docker_username
    DOCKER_PASSWORD:
      from_secret: docker_password
  commands:
  - 'echo "Changes in backend detected — running build"
  
    echo "API docker build and push"
  
  ...

fix: поддержка относительных URL в телеграм боте
  frontend/packages/telegram-bot/src/photo.test.ts
  frontend/packages/telegram-bot/src/photo.ts
Due: build

feat: публичный доступ к MinIO bucket для изображений
  backend/PhotoBank.DependencyInjection/AddPhotobankCoreExtensions.cs
  backend/PhotoBank.Services/Internal/MinioInitializationService.cs
Due: build, publish

refactor: оптимизация GeoWrapper - устранение дублирования кода
  backend/PhotoBank.Services/GeoWrapper.cs
Due: build, publish

refactor: унификация архитектуры распознавания лиц
  backend/PhotoBank.DependencyInjection/AddPhotobankConsoleExtensions.cs
  backend/PhotoBank.Services/Enrichers/FaceEnricher.cs
  backend/PhotoBank.Services/Enrichers/FaceEnricherAws.cs
  backend/PhotoBank.Services/Enrichers/UnifiedFaceEnricher.cs
  backend/PhotoBank.UnitTests/Enrichers/UnifiedFaceEnricherTests.cs
Due: build, publish

fix: добавить BoundingBox в DetectedFaceDto и исправить NullReferenceException
  backend/PhotoBank.Services/Enrichers/UnifiedFaceEnricher.cs
  backend/PhotoBank.Services/FaceRecognition/Abstractions/IFaceProvider.cs
  backend/PhotoBank.Services/FaceRecognition/Aws/AwsFaceProvider.cs
  backend/PhotoBank.Services/FaceRecognition/Azure/AzureFaceProvider.cs
  backend/PhotoBank.Services/FaceRecognition/LocalInsightFaceProvider.cs
  backend/PhotoBank.Services/GeoWrapper.cs
  backend/PhotoBank.UnitTests/Enrichers/UnifiedFaceEnricherTests.cs
Due: build, publish

fix: нормализация координат Azure FaceRectangle для исправления двойного масштабирования
  backend/PhotoBank.Services/FaceRecognition/Azure/AzureFaceProvider.cs
  backend/PhotoBank.UnitTests/FaceRecognition/AzureFaceProviderTests.cs
Due: build, publish

fix: обработка nullable float? в AWS BoundingBox для устранения ошибок компиляции
  backend/PhotoBank.Services/FaceRecognition/Aws/AwsFaceProvider.cs
Due: build, publish

fix: исправить ошибку компиляции FaceToLink в тестах - использовать синхронную Func<Stream>
  backend/PhotoBank.UnitTests/FaceRecognition/AzureFaceProviderTests.cs
Due: build, publish

refactor: добавить IUnifiedFaceService для устранения ошибок мокирования в тестах
  backend/PhotoBank.DependencyInjection/AddPhotobankConsoleExtensions.cs
  backend/PhotoBank.Services/Enrichers/UnifiedFaceEnricher.cs
  backend/PhotoBank.Services/FaceRecognition/IUnifiedFaceService.cs
  backend/PhotoBank.Services/FaceRecognition/UnifiedFaceService.cs
  backend/PhotoBank.UnitTests/Enrichers/UnifiedFaceEnricherTests.cs
  backend/PhotoBank.UnitTests/ServiceCollectionExtensionsTests.cs
Due: build, publish

fix: удалить использование несуществующего FaceIdentifyStatus.ProcessingError
  backend/PhotoBank.Services/Enrichers/UnifiedFaceEnricher.cs
  backend/PhotoBank.UnitTests/Enrichers/UnifiedFaceEnricherTests.cs
Due: build, publish

fix: исправить синтаксис Assert.ThrowsAsync в тестах
  backend/PhotoBank.UnitTests/Enrichers/UnifiedFaceEnricherTests.cs
Due: build, publish

fix: добавить отсутствующий параметр BoundingBox в конструктор DetectedFaceDto
  backend/PhotoBank.UnitTests/FaceRecognition/UnifiedFaceServiceTests.cs
Due: build, publish

fix: реализовать удаление AccessProfile из админки
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
Due: build

chore: обновление автогенерированных API файлов orval
  frontend/package-lock.json
  frontend/packages/shared/src/api/photobank/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/shared/src/api/photobank/auth/auth.ts
  frontend/packages/shared/src/api/photobank/faces/faces.ts
  frontend/packages/shared/src/api/photobank/paths/paths.ts
  frontend/packages/shared/src/api/photobank/person-groups/person-groups.ts
  frontend/packages/shared/src/api/photobank/persons/persons.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/shared/src/api/photobank/photos/photos.ts
  frontend/packages/shared/src/api/photobank/storages/storages.ts
  frontend/packages/shared/src/api/photobank/tags/tags.ts
  frontend/packages/shared/src/api/photobank/users/users.ts
  frontend/packages/shared/src/api/photobank/version/version.ts
Due: build

fix: реализовать удаление AccessProfile из админки
  backend/PhotoBank.Api/Controllers/Admin/AdminAccessProfilesController.cs
  frontend/packages/frontend/src/components/admin/AccessProfilesGrid.tsx
  frontend/packages/frontend/src/pages/admin/AccessProfilesPage.tsx
  frontend/packages/shared/src/api/photobank/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/shared/src/api/photobank/auth/auth.ts
  frontend/packages/shared/src/api/photobank/faces/faces.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  openapi.yaml
Due: build, publish

Update generate-frontend-api.yml
  .github/workflows/generate-frontend-api.yml
Due: none

chore: улучшить workflow генерации frontend API
  .github/workflows/generate-frontend-api.yml
Due: none

fix: исправить обработку ошибок git push в workflow
  .github/workflows/generate-frontend-api.yml
Due: none

chore: update orval to v7.16.0
  frontend/package.json
  frontend/packages/shared/src/api/photobank/admin-access-profiles/admin-access-profiles.ts
  frontend/packages/shared/src/api/photobank/auth/auth.ts
  frontend/packages/shared/src/api/photobank/faces/faces.ts
  frontend/packages/shared/src/api/photobank/paths/paths.ts
  frontend/packages/shared/src/api/photobank/person-groups/person-groups.ts
  frontend/packages/shared/src/api/photobank/persons/persons.ts
  frontend/packages/shared/src/api/photobank/photoBankApi.schemas.ts
  frontend/packages/shared/src/api/photobank/photos/photos.ts
  frontend/packages/shared/src/api/photobank/storages/storages.ts
  frontend/packages/shared/src/api/photobank/tags/tags.ts
  frontend/packages/shared/src/api/photobank/users/users.ts
  frontend/packages/shared/src/api/photobank/version/version.ts
  frontend/pnpm-lock.yaml
Due: build

fix: correct useFacesGetAll import in FacesPage
  frontend/packages/frontend/src/pages/admin/FacesPage.tsx
Due: build

fix: handle null check for subscription time type narrowing
  frontend/packages/telegram-bot/src/commands/subscribe.ts
Due: build

fix: add null checks for telegramUserId in subscribe command
  frontend/packages/telegram-bot/src/commands/subscribe.ts
Due: build

fix: filter persons by accessible photos instead of person groups
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

fix: add cache invalidation and sliding expiration for persons cache
  backend/PhotoBank.Services/Photos/Admin/IPersonGroupService.cs
  backend/PhotoBank.Services/Photos/Faces/IFaceCatalogService.cs
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

test: update FaceCatalogService constructor calls in unit tests
  backend/PhotoBank.UnitTests/PersonGroupServiceTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetAllPhotosAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetFacesPageAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceGetPhotoAsyncTests.cs
  backend/PhotoBank.UnitTests/Services/PhotoServiceUploadTests.cs
Due: build, publish

perf: use subquery instead of materialization to avoid SQL parameter limit
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

fix: ensure cache invalidation works across all service instances
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

fix: invalidate persons cache when storage ACLs change
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

fix: remove CancellationTokenSource disposal to prevent race condition
  backend/PhotoBank.Services/Search/SearchReferenceDataService.cs
Due: build, publish

feat: improve PhotoBank.Console error handling and CLI
  backend/PhotoBank.Console/App.cs
  backend/PhotoBank.Console/ConsoleOptions.cs
  backend/PhotoBank.Console/PhotoBank.Console.csproj
  backend/PhotoBank.Console/Program.cs
  backend/PhotoBank.Console/README.md
Due: build, publish

fix: propagate exit codes from command handler
  backend/PhotoBank.Console/Program.cs
Due: build, publish

fix: use synchronous Log.CloseAndFlush() method
  backend/PhotoBank.Console/Program.cs
Due: build, publish

fix: allow OperationCanceledException to bubble for proper exit code
  backend/PhotoBank.Console/App.cs
Due: build, publish

fix: propagate OperationCanceledException to Main for exit code 130
  backend/PhotoBank.Console/Program.cs
Due: build, publish

feat: support standard .NET host CLI arguments
  backend/PhotoBank.Console/Program.cs
Due: build, publish

fix: исправлен заголовок Host для MinIO proxy
  proxy/nginx.conf
Due: none

refactor: удалена дублирующая копия nginx.conf
  docker-compose.yml
  proxy/nginx.conf
Due: none

fix: добавлена поддержка HTTP для внутренних запросов из бота
  docker-compose.yml
  nginx.conf
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  build: (any of: backend/**) or (any of: frontend/packages/frontend/**, frontend/packages/shared/**) or (any of: frontend/packages/telegram-bot/**, frontend/packages/shared/**)
  publish: (any of: backend/**) or (any of: frontend/packages/frontend/*, frontend/packages/shared/*) or (any of: frontend/packages/telegram-bot/*, frontend/packages/shared/*)
